<link rel="stylesheet" href="/CSS/banner.css">




<div class="container-banner">

    <div class="banner">
        <div class="banner-text">
            <h1>SOLICITE SUA COTAÇÃO AQUI</h1>

            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    REALIZE SUA COTAÇÃO
                </a>

                <ul class="dropdown-menu" style="">
                    <li><a class="dropdown-item" href="/cotacao-auto">Seguro Auto</a></li>
                    <li><a class="dropdown-item" href="#">Seguro Moto</a></li>
                    <li><a class="dropdown-item" href="#">Consórcio</a></li>
                </ul>
            </div>

        </div>
    </div>

</div>