<link rel="stylesheet" href="/CSS/carrosel.css">


<div class="container-carrosel">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <div class="imagens-carrosel">
                    <img src="/IMG/seguradoras/hdi.png" alt="Seguro HDI">
                    <img src="/IMG/seguradoras/humana.png" alt="Seguro Humana">
                    <img src="/IMG/seguradoras/icatu.png" alt="Seguro Icatú">
                    <img src="/IMG/seguradoras/itau.png" alt="Seguro Itaú">
                    <img src="/IMG/seguradoras/liberty.png" alt="Seguro Liberty">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguradoras Parceiras</h5>
                    <p>Trabalhamos com diversas seguradoras, dando a você uma ampla gama de opções</p>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">

                <div class="imagens-carrosel">
                    <img src="/IMG/seguradoras/sompo.png" alt="Seguro Sompo">
                    <img src="/IMG/seguradoras/sulamerica.png" alt="Seguro Sulamerica">
                    <img src="/IMG/seguradoras/tokiomarine.png" alt="Seguro Tokio Marine">
                    <img src="/IMG/seguradoras/zurich.png">
                </div>

                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguradoras Parceiras</h5>
                    <p>Trabalhamos com diversas seguradoras, dando a você uma ampla gama de opções</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="imagens-carrosel">
                    <img src="/IMG/seguradoras/ace.png" alt="Seguro ACE">
                    <img src="/IMG/seguradoras/alfa.png" alt="Seguro Alfa">
                    <img src="/IMG/seguradoras/allianz.png" alt="Seguro Allianz">
                    <img src="/IMG/seguradoras/american.png" alt="Seguro America">
                    <img src="/IMG/seguradoras/azul.png" alt="Seguro Azul">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguradoras Parceiras</h5>
                    <p>Trabalhamos com diversas seguradoras, dando a você uma ampla gama de opções</p>
                </div>
            </div>

            <div class="carousel-item">
                <div class="imagens-carrosel" data-bs-interval="2000">
                    <img src="/IMG/seguradoras/berkley.png" alt="Seguro Berkley">
                    <img src="/IMG/seguradoras/bnp.png" alt="Seguro BNP">
                    <img src="/IMG/seguradoras/bradesco.png" alt="Seguro ">
                    <img src="/IMG/seguradoras/chubb.png" alt="Seguro Chubb">
                    <img src="/IMG/seguradoras/generali.png" alt="Seguro Generalli">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguradoras Parceiras</h5>
                    <p>Trabalhamos com diversas seguradoras, dando a você uma ampla gama de opções</p>
                </div>
            </div>

            <div class="carousel-item" data-bs-interval="2000">
                <div class="imagens-carrosel">
                    <img src="/IMG/seguradoras/mapfree.png" alt="Seguro Mapfre">
                    <img src="/IMG/seguradoras/metlife.png" alt="Seguro Metlife">
                    <img src="/IMG/seguradoras/mitsui.png" alt="Seguro Mitsui">
                    <img src="/IMG/seguradoras/porto-seguro.png" alt="Seguro Porto Seguros">
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Seguradoras Parceiras</h5>
                    <p>Trabalhamos com diversas seguradoras, dando a você uma ampla gama de opções</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>