<link rel="stylesheet" href="/CSS/footer.css">

<div class="container-footer">

    <div class="banner-footer">


        <div class="banner-text-footer">
            <img src="/IMG/Suseg-Logo-sem-fundo.png" alt="">

            <div class="social-media">
                <ul>
                    <li><a href="#"><img src="/IMG/icones/facebook-circle-logo-24.png" alt=""></a></li>
                    <li><a href="#"><img src="/IMG/icones/instagram-logo-24.png" alt=""></a></li>
                    <li><a href="#"><img src="/IMG/icones/linkedin-square-logo-24.png" alt=""></a></li>
                </ul>
            </div>

            <ul class="dados">
                <li> <a href="https://maps.app.goo.gl/FzVxMAREBV6LCa2RA">r 136, R. Silvadir F. Chaves, 28 - Jardim Carapina <br> Lauro de Freitas - BA, 42700-850</a> </li>
                <li><a href="https://api.whatsapp.com/send?phone=5571986171932">71 98617-1932</a></li>
                <li>contatosusegseguros@gmail.com</li>
            </ul>             
            
        </div>
    </div>

    <div class="container" id="rodape">
        <p>&copy; Feito por Budah</p> 
    </div>

</div>