<link rel="stylesheet" href="/CSS/header.css">

<div class="caixa">
    <div class="logo"><a href="/"><img src="/IMG/Suseg-Logo-sem-fundo.png" alt=""></a></div>
    <nav class="navbar navbar-expand bg-body-tertiary" id="navegador">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/cotacao-auto"><b>Seguro Auto</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/seu-seguro"><b>Seu Seguro</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/sobre-nos"><b>Sobre Nós</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/contato"><b>Contato</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>