{{> header}}


<div class="container-banner">
    <div class="banner">
        <div class="banner-text">
            <h1>ATENDIMENTO 24 HORAS</h1>
        </div>
    </div>
</div>

<div class="container-xl" id="seguradoras">
  <div class="row">
    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/ace.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>SAC</h1>
            <p>
              0800 770 789
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/alfa.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>SAC</h1>
            <p>
              0800 774 2532
            </p>
            <h1>Assistência 24 horas, Assistência Vidros e Carro Reserva</h1>
            <p>0800 888 2532</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/american.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>SAC</h1>
            <p>
              0800 002 5734
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/azul.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência 24h</h1>
            <p>
              0800-7030203
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>0800-7030203 <br>
              4004-3700 </p>
          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="row">
    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/berkley.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/bnp.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/bradesco.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência 24h</h1>
            <p>
              4004-2757<br>
              0800-7012757
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>4004-2757</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/chubb.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row justify-content-center">

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/generali.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência</h1>
            <p>
              0800-0264040
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>0800-0264040</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/hdi.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>ASSISTÊNCIA 24 HORAS | SINISTRO | ASSISTÊNCIA VIDROS </h1>
            <p>
              3003-5390
            </p>
            <h1>Regiões Metropolitanas</h1>
            <p>0800-434-4340</p>
            <h1>Demais Regiões</h1>
            <p>0800 722 71 49 <br> 0800 772 1825</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/humana.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/icatu.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>SAC</h1>
            <p>
              0800 286 0110
            </p>
            <h1>Assistência 24 horas</h1>
            <p>0800 285 3000</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/itau.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>SAC</h1>
            <p>
              0800 728 0728
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>4004-4444</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/liberty.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência</h1>
            <p>
              0800-7014120
            </p>
            <h1>Sinistro</h1>
            <p>4004-5423</p>
            <h1>Carro Reserva:</h1>
            <p>0800-7014121</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/mapfree.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência</h1>
            <p>
              0800 7751000 <br>
              4002-1000
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>0800-7751000 <br>
              *4002-1000 <br>
              8001-31516</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/metlife.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>SAC</h1>
            <p>
              0800 746 3420
            </p>
            <h1>Assistência</h1>
            <p>0800 638 5433 <br>
              3003 5433</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/mitsui.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência</h1>
            <p>
              0800-7077883 <br>
              0800-7077616
            </p>
            <h1>Carro Reserva: </h1>
            <p>0300-7726744</p>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/porto-seguro.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência</h1>
            <p>
              0800-7270800
            </p>
            <h1>Vida</h1>
            <p>
              0800-7279393
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>0800-7270800</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/sompo.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>SAC</h1>
            <p>
              0800 771 9719
            </p>
            <h1>Assistência 24 horas e vidros</h1>
            <p>0800 016 2727</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/sulamerica.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência</h1>
            <p>4004-4100
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>0800 777 1012 <br>
              4004 4100</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/tokiomarine.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência</h1>
            <p>
              0800-3186546
            </p>
            <h1>Vidros</h1>
            <p>
              0800-7078005
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>0800-3186546 <br>
              0300-3386546</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center no-border" style="width: 15rem; height:15rem;" id="card-prev">
        <div class="card" id="image-card">
          <img src="/IMG/seguradoras/zurich.png" class="card-img-top" alt="..." id="imagem">
          <div class="card-body" id="conteudo">
            <h1>Assistência</h1>
            <p>
              0800-7291400 <br>
              0800-0256303
            </p>
            <h1>Sinistro / Carro Reserva:</h1>
            <p>0800-2854141<br>
              4020-4243</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


{{> footer}}

<link rel="stylesheet" href="/CSS/atendimento.css">