  <h1>Deletar Usuário</h1>
  <p>Deseja realmente deletar o usuário {{user.nome}}?</p>
  <form action="/adm/deleteUser/{{user.id}}" method="POST">
    <button type="submit">Confirmar Deleção</button>
  </form>