<style>
  body {
    background-color: #f8f9fa;
    color: #212529;
    font-family: Arial, sans-serif;
  }

  .container {
    margin-top: 50px;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  form {
    display: inline-block;
  }

  button[type="submit"] {
    font-size: 1rem;
    padding: 10px 20px;
    margin-top: 10px;
  }

  button[type="submit"].btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
  }

  button[type="submit"].btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }

  button[type="submit"].btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
  }

  button[type="submit"].btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
</style>



<div class="container">
  <h1>Deletar Apólice</h1>
  <p>Deseja realmente deletar a apólice <strong>{{apolice.numeroApolice}}</strong>?</p>
  <form action="/adm/deleteApolice/{{apolice.id}}" method="POST">
    <button type="submit" class="btn btn-danger">Confirmar Deleção</button>
  </form>
  <form action="/adm/apolices">
    <button type="submit" class="btn btn-secondary">Cancelar</button>
  </form>
</div>