{{> header-adm}}

<style>
    #aviso-senha {
    color: red;
    font-weight: bold;
    font-size: smaller;
}

</style>
<form action="/adm/register" method="post">
    <div>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required />
    </div>
    <div>
        <label for="senha">Confirmar senha:</label>
        <input type="password" id="senha-confirm" name="senha-confirm" required />
    </div>
    <div id="aviso-senha"></div>
    <div>
        <label for="role">Função:</label>
        <input type="text" id="role" name="role" required />
    </div>
    <div>
        <label for="isAdmin">Is Admin:</label>
        <input type="checkbox" id="isAdmin" name="isAdmin" />
    </div>
    <div>
        <label for="isIntern">Is Intern:</label>
        <input type="checkbox" id="isIntern" name="isIntern" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

<script src="/JS/register.js"></script>
