<link rel="stylesheet" href="/CSS/seu-seguro.css">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{{> header}}

<div class="container-banner">
    <div class="banner">
        <div class="banner-text">
            <h1>O SEGURO IDEAL PARA VOCÊ OU PARA SUA EMPRESA</h1>
            <p>Descubra a segurança e a tranquilidade de um seguro personalizado para atender às suas necessidades <br>
                ou às da sua empresa. Navegue pelo nosso site e encontre a solução perfeita para você.</p>

        </div>
    </div>
</div>



<div class="container-xl" id="cotacoes">
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">directions_car</span>
                    <h5 class="card-title">Seguro <br> <big><Strong>Automóvel</Strong></big>  </h5>
                    <p class="card-text">Proteja seu veículo com nosso seguro automóvel. Oferecemos cobertura abrangente para garantir sua tranquilidade em todas as situações.</p>
                    <a href="/cotacao-auto" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">home</span>
                    <h5 class="card-title">Seguro <br> <big><Strong>Residencial</Strong></big> </h5>
                    <p class="card-text">Mantenha sua casa protegida com nosso seguro residencial. Tenha a segurança de um lar protegido em todos os momentos.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">ecg_heart</span>
                    <h5 class="card-title">Seguro <br> <big><Strong>Vida</Strong></big></h5>

                    <p class="card-text">Cuide do seu futuro e daqueles que você ama com nosso seguro de vida. Proteja o bem-estar da sua família com uma cobertura completa.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">map</span>
                    <h5 class="card-title">Seguro <br> <big><Strong>Viagem</Strong></big></h5>

                    <p class="card-text">Viaje com tranquilidade sabendo que está protegido em qualquer lugar do mundo. Nosso seguro viagem oferece assistência completa durante suas aventuras.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">phone_iphone</span>
                    <h5 class="card-title">Seguro <br> <big><Strong>Portáteis</Strong></big></h5>
                    <p class="card-text">Proteja seus dispositivos portáteis com nosso seguro especializado. Esteja coberto em casos de danos, perdas ou roubo.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">directions_bike</span>
                    <h5 class="card-title">Seguro <br> <big><Strong>Bike</Strong></big></h5>
                    <p class="card-text">Aventure-se com segurança com nosso seguro para bicicletas. Mantenha sua bike protegida em todos os seus passeios.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">payments</span>
                    <h5 class="card-title"><big><Strong>Financiamentos</Strong></big></h5>
                    <p class="card-text">Garanta a segurança dos seus financiamentos com nosso seguro especializado. Proteja-se de imprevistos e mantenha suas finanças seguras.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">payments</span>
                    <h5 class="card-title"><big><Strong>Consórcio</Strong></big></h5>
                    <p class="card-text">Proteja seus investimentos em consórcios com nosso seguro dedicado. Tenha tranquilidade ao participar de consórcios de qualquer natureza.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>



    </div>

    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">two_wheeler</span>
                    <h5 class="card-title">Seguro <br> <big><Strong>Moto</Strong></big></h5>
                    <p class="card-text">Proteja sua moto com um seguro completo e confiável. Mantenha-se seguro em todas as suas aventuras sobre duas rodas.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <span class="material-symbols-outlined">ecg_heart</span>
                    <h5 class="card-title"><big><Strong>Plano de Saúde</Strong></big></h5>
                    <p class="card-text">Cuide da sua saúde e bem-estar com nosso plano de saúde abrangente. Tenha acesso a cuidados médicos de qualidade em todos os momentos.</p>
                    <a href="#" class="btn btn-primary">Fazer Cotação</a>
                </div>
            </div>
        </div>

    </div>

</div>


{{> footer}}