{{> header}}

<div class="container-banner">
    <div class="banner">
        <div class="banner-text">
            <h1>A SUSEG</h1>
        </div>
    </div>
</div>

<div class="container" id="empresa">
    <h1>Nós temos um compromisso com você!</h1>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/IMG/Captura de tela 2024-05-21 140127.png" class="card-img-top" alt="...">
                <div class="card-body" >
                    <p class="card-text text-center">Nossa fundadora <b>Suzana Pereira</b> estabeleceu a SuSeg com o objetivo de proporcionar tranquilidade e segurança a indivíduos e empresas. </p>
                </div>
            </div>
        </div>

        <div class="col">
            <p>Especialista em oferecer diversas modalidades de seguros e benefícios para pessoas físicas e empresas.
                Respaldada pela experiência e qualificação de seus profissionais e também pela sólida parceria com as
                melhores seguradoras do mercado, a empresa está capacitada a identificar quais são os produtos que
                melhor atendem as necessidades e expectativas de seus clientes.
                trabalhamos para proteger voce, sua familia e sua empresa e Desempenhar com excelência os serviços de
                corretagem oferecendo as melhores soluções em seguros do mercado, com o propósito de zelar pelo
                patrimônio e garantir a tranquilidade de nossos clientes.
            </p>
        </div>
    </div>
</div>

<div class="container-xl" id="valores">
<h1>Valores da SUSEG</h1>
    <div class="row">
        <div class="col-sm-3">
            <div class="card text-center no-border" style="width: 15rem; height:15rem;">
                <div class="card-body no-border">
                    <img src="/IMG/icones/favorite_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="">
                    <p>Foco no Cliente</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center no-border" style="width: 15rem; height:15rem;">
                <div class="card-body no-border">
                    <img src="/IMG/icones/handshake_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="">
                    <p>Compromisso</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center no-border" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <img src="/IMG/icones/manufacturing_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="">
                    <p>Inovação</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card text-center no-border" style="width: 15rem; height:15rem;">
                <div class="card-body">
                    <img src="/IMG/icones/diversity_3_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="">
                    <p>Respeito</p>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="container" id="coteaqui">
    <a href="/cotacao-auto"><button>COTE SEU SEGURO AQUI</button></a>
</div>

{{> footer}}

<link rel="stylesheet" href="/CSS/sobre-nos.css">